.loading {
  @apply !top-1/2 !left-1/2 !-translate-x-1/2 !transform !-translate-y-1/2 !m-0;
  :global{
    .aelfd-modal-content {
      @apply !w-[240px] !h-[106px] mx-auto !p-[16px];
    }
  }
}

.loadingImg {
  animation: loading 3s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}